<!DOCTYPE html>
<html  lang="en" xmlns="http://www.w3.org/1999/xhtml"
       xmlns:th="http://www.thymeleaf.org"
       xmlns:sec='http://www.thymeleaf.org/extras/spring-security'>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/error.css">

  <title>Error Page</title>
</head>
<body>
<div class="titanic"></div>

<h1 data-txt="err⬡r" aria-label="Internal Server Error">᲼᲼<span data-overlay="error">᲼᲼</span><span data-overlay=":(">᲼</span></h1>

<a id = "back-to-home" type="submit" class="btn btn-success  mb-3" href="/home" sec:authorize="!isAuthenticated()" >Return to home</a>

<!--
<a id = "back-to-home" type="submit" class="btn btn-success  mb-3" href="/" sec:authorize="!isAuthenticated()" >Return to home</a>
<a id = "back-to-home1" type="submit" class="btn btn-success  mb-3" href="/home" sec:authorize="isAuthenticated()">Return to home</a>
-->
</body>
</html>