body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url(https://car-images.bauersecure.com/wp-images/3109/best_performance_exec_090.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    font-size: x-large;
    height: 120vh;
    width: 100vw;
}
header{
    font-size: x-large;
    height: 6vh;
}
main{
    height: 85vh;
    color: white;
}
footer {
    margin-top: 180px;
    color: white;
    margin-left: 27%;
    height: 3vh;
}
.footer-text{
    padding-top: 5px;
    margin-top: 10px;
}
.from{
    max-height: 75vh;
    overflow-y: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.form-group{
    font-size:x-small;
    height: 7vh;
}
hr{
    margin-left: 35%;
    margin-right: 35%;
    color: white;
    opacity: 20;
}
#sbm-btn{
    margin-top: 19%;

}

#label-text1{
    font-size:large;
}
#label-text2{
    font-size:large;
}
#label-text3{
    font-size:large;
}
#label-text4{
    font-size:large;
}
#label-text5{
    font-size:large;
}
#label-text6{
    font-size:large;
}
#label-text7{
    font-size:large;
}
#label-text8{
    font-size:large;
}
#label-text9{
    font-size:large;
}
#label-text10{
    font-size:large;
}
#label-text11{
    font-size:large;
}
small{
    font-size: small;
    color: red;
}
input{
    height: 2vh;
}


@media (min-width: 992px) {
    #back-to-home{
        display: none;

    }


}
@media (max-width: 992px) {

    #sbm-btn-btn{
        margin-right:40px;
        margin-left: 100px;
    }
    #label-text1{
        font-size:small;
    }
    #label-text2{
        font-size:small;
    }
    #label-text3{
        font-size:small;
    }
    #label-text4{
        font-size:small;
    }
    #label-text5{
        font-size:small;
    }
    #label-text6{
        font-size:small;
    }
    #label-text7{
        font-size:small;
    }
    #label-text8{
        font-size:small;
    }
    #label-text9{
        font-size:small;
    }
    small{
        font-size: x-small;
    }
    input{
        height: 1vh;
    }
    .first-column{
        display: flex;
        flex-direction: column;
        gap: 13px;
    }
    .second-column{
        display: flex;
        flex-direction: column;
        gap: 13px;
    }
    form{
        display: flex;
        flex-direction: row;
        gap: 40px;

    }
    #sbm-btn-btn{
        margin-top: 20px;
    }
    #back-to-home{
        margin-top: 20px;
    }
    .form{
        margin-right: 30%;
    }
    #sbm-btn{
        margin-right: 190%;
    }
    hr{
        margin-left: 15%;
        margin-right: 15%;
    }

}