body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url(https://car-images.bauersecure.com/wp-images/3109/best_performance_exec_090.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
   font-size: x-large;
   height: 100vh;
   width: 100vw;
}
.one-line {
    display: inline; /* Ensures each pair stays on the same line */

}
.bug-description {
    max-width: 400px; /* Adjust the maximum width as needed */
    margin-bottom: 10px; /* Optional: Adds space between bug descriptions */
}

.bug-description p.bug-label {

    margin-right: 10px;
    display: inline;
}

.bug-description .description-text {
    /* Ensures text stays on the same line */
    max-width: calc(100% - 80px); /* Adjust to leave space for label and spacing */
    white-space: normal; /* Allows text to wrap */
    line-height: 1.5;
    display: inline;/* Optional: Adjusts line height for readability */

    display: block;
    word-wrap: break-word;
    width: 100%;
}

.bug-description .description-text span {
    display: inline-block; /* Ensures each chunk of text remains inline */
}


header{
    font-size: x-large;
    height: 20vh;
}

main{
    height: 75vh;
    
}

footer {
    color: white;
    margin-left: 45%;
    height: 5vh;
 }
 h2{
    color: black;
 }
 /* Brown-beige theme */
 .brown-beige-theme {
    background-color: #C41E3A; /* Beige */
    color: darkred; /* Brown */
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    max-width: 35vw;
    margin: auto;
  }

  /* Split halves */
  .split {
    display: flex;
    overflow-x: auto;
  }

  .split div {
    flex: 1;

  }

  /* Car card styling */
  .car-card {
    background-color: #e45757; /* Light beige */
    border: 1px solid crimson; /* Brown */
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    max-width: 25vw;
    margin-right: 10px;
    overflow: hidden;
  }

  /* Background color for user's cars */
  .user-car {
    width: 30vw;
    background-color: #F08080; /* Moccasin */
  }

  
  .car-image {
    width: 100%;
    height: auto;
  }

 @media (min-width: 992px) {
   
    #back-to-home{
        display: none;
    }
 }

 .user-cars,
        .other-user-cars {
            max-height: 400px; /* Set maximum height to enable scrolling */
            overflow-y: auto; /* Enable vertical scrolling */
            overflow-x: hidden; /* Hide horizontal scrollbar if not needed */
        }

#delete{
  border-color: black;
  border-width: 2px;
  border-radius: 5%;
  margin-top: 1%;
}


