body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url(https://car-images.bauersecure.com/wp-images/3109/best_performance_exec_090.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
   font-size: x-large;
   height: 100vh;
   width: 100vw;
}

header{
    font-size: x-large;
    height: 20vh;
}

main{
    height: 75vh;
    
}


footer {
    color: white;
    margin-left: 25%;
    height: 5vh;
 }
 /* Brown-beige theme */
 .brown-beige-theme {
    background-color: #D2B48C; /* Beige */
    color: #8B4513; /* Brown */
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    max-width: 70vw;
    margin: auto;
  }

  /* Split halves */
  .split {
    display: flex;
      justify-content: space-between;
      align-items: flex-start; /* Align items to the top */
    overflow-x: auto;
  }

  .split div {
    flex: 1;
    padding: 10px;
  }
/* Add this to your existing CSS file */




.your-cars, .other-cars {
    border: 1px solid black; /* Thin black border */
    padding: 20px; /* Optional: Add some padding inside the border */
    margin: 10px; /* Optional: Add some margin outside the border */
    border-radius: 5px; /* Optional: Add rounded corners */
}


  /* Car card styling */
  .car-card {
    background-color: #FFF8DC; /* Light beige */
    border: 1px solid #8B4513; /* Brown */
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    max-width: 25vw;
    margin-right: 10px;
    overflow: hidden;
  }
.my-cars-border{
    color: #0a53be;
}
  /* Background color for user's cars */
  .user-car {
    background-color: #FFE4B5; /* Moccasin */
  }

  /* Background color for other users' cars */
  .other-user-car {
    background-color: #cccac8; /* Linen */
  }

  /* Car image styling */
  .car-image {
    width: 100%;
    height: auto;
  }

 @media (min-width: 992px) {
   
    #back-to-home{
        display: none;
    }
    #add-car{
      margin-bottom: -3% !important;
    }
    
 }

 .user-cars,
        .other-user-cars {
            max-height: 400px; /* Set maximum height to enable scrolling */
            overflow-y: auto; /* Enable vertical scrolling */
            overflow-x: hidden; /* Hide horizontal scrollbar if not needed */
        }

#delete{
  border-color: black;
  border-width: 2px;
  border-radius: 10%;
  margin-top: 1%;
}
#delete1{
    border-color: black;
    border-width: 2px;
    border-radius: 10%;
    margin-top: 1%;
}
/*----------------------*/
.row-new{
    display: block;
    word-wrap: break-word;
    width: 100%;
}
.row-new1{
    display: block;
    word-wrap: break-word;
    width: 100%;
}