<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{about.us.title}">About Us</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/about-us.css"/>
</head>
<body>
<header th:replace="fragments/commons::head"></header>
<main>
    <div class="about-us">
        <h1 class="h1-about-us" th:text="#{about.us.heading}">About Us</h1>
        <p class="ab-u-text" th:text="#{about.us.description}">Welcome to Tuzar Cars...</p>
        <span class="contact-info">da4ko@gmail.com | 0888 888 888.</span>


        <br>
        <a id="report-bug" type="submit" class="btn btn-danger mb-3" th:href="@{/bugs/add-report}" sec:authorize="isAuthenticated()" th:text="#{about.us.report.bug}">Report a bug</a>
        <br>
        <a id="back-to-home" type="submit" class="btn btn-success mb-3" href="/" sec:authorize="!isAuthenticated()" th:text="#{about.us.return.home}">Return to home</a>
        <a id="back-to-home1" type="submit" class="btn btn-success mb-3" href="/home" sec:authorize="isAuthenticated()" th:text="#{about.us.return.home}">Return to home</a>
    </div>
    <div class="contacts">
        <h1 class="h1-social" th:text="#{about.us.follow.contact}">Follow and contact us:</h1>
        <div class="social">
            <div class="first-column">
                <a href="https://www.instagram.com/" target="_blank" class="social-media-div">
                    <div id="instagram" class="social-media-div">
                        <!-- Instagram logo or content here -->
                    </div>
                </a>
                <a href="https://www.facebook.com/" target="_blank" class="social-media-div">
                    <div id="facebook" class="social-media-div">
                        <!-- Facebook logo or content here -->
                    </div>
                </a>
                <a href="https://github.com/" target="_blank" class="social-media-div">
                    <div id="github" class="social-media-div">
                        <!-- GitHub logo or content here -->
                    </div>
                </a>
            </div>
            <div class="second-column">
                <a href="https://www.youtube.com/" target="_blank" class="social-media-div">
                    <div id="youtube" class="social-media-div">
                        <!-- YouTube logo or content here -->
                    </div>
                </a>
                <a href="https://bg.linkedin.com/" target="_blank" class="social-media-div">
                    <div id="linkedIn" class="social-media-div">
                        <!-- LinkedIn logo or content here -->
                    </div>
                </a>
                <a href="https://web.telegram.org/a/" target="_blank" class="social-media-div">
                    <div id="telegram" class="social-media-div">
                        <!-- Telegram logo or content here -->
                    </div>
                </a>
            </div>
        </div>
    </div>
</main>
<footer>
    <footer th:replace="fragments/commons::footer"></footer>
</footer>
</body>
</html>
