<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec='http://www.thymeleaf.org/extras/spring-security'>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/add.css">
    <title>Add Porsche</title>

</head>
<body>
<header th:replace="fragments/commons::head"></header>
    <main>
        
        <h1 class="text-center mt-2"><span class="badge badge-pill badge-dark">Add Porsche</span></h1>
        <hr>
        <div class="form">
        <form class="mx-auto w-25 bg-blur rounded" method="" action="">

<div class="first-column">
            <div class="form-group">
                <div class="text-white label-holder d-flex justify-content-center" id="select">
                    <label id = "label-text1" for="model" class="h4 mb-2">Model</label>
                </div>
    
                <select class="browser-default custom-select" id="model" name="model">
                    <option value="">Select model</option>
                    <option value="">Cayenne</option>
                    <option value="">Maccan</option>
                    <option value="">Panamera</option>
                </select>
    
                <small >Model error message</small>
            </div>

            <div class="form-group">
                <div class="label-holder text-white textCol d-flex justify-content-center">
                    <label id = "label-text2" for="horsepower" class="h4 mb-2">Horsepower</label>
                </div>
                <input type="number" step="1" class="form-control" id="horsepower" name="horsepower"/>
                <small >Horsepower error message</small>
            </div>

            <div class="form-group">
                <div class="label-holder text-white textCol d-flex justify-content-center">
                    <label id = "label-text3" for="image" class="h4 mb-2">Image url</label>
                </div>
                <input type="img" step="1" class="form-control" id="image" name="image"/>
                <small >image error message</small>
            </div>

            <div class="form-group">
                <div class="label-holder text-white textCol d-flex justify-content-center">
                    <label id = "label-text4" for="releaseDate" class="h4 mb-2">Release date</label>
                </div>
                <input type="date" class="form-control" id="releaseDate" name="releaseDate"/>
                <small >Release date error</small>
            </div>




            <div class="form-group">
                <div class="text-white label-holder d-flex justify-content-center">
                    <label id = "label-text5" for="category" class="h4 mb-2">Category</label>
                </div>
    
                <select class="browser-default custom-select" id="category" name="category">
                    <option value="">Select category</option>
                    <option value="">Comby</option>
                    <option value="">Sedan</option>
                    <option value="">SUV</option>
                </select>
    
                <small>Category error message</small>
            </div>

            <div class="form-group">
                <div class="text-white label-holder d-flex justify-content-center">
                    <label id = "label-text6" for="engine-type" class="h4 mb-2">Engine Type</label>
                </div>
    
                <select class="browser-default custom-select" id="engine-type" name="engine-type">
                    <option value="">Select engine type</option>
                    <option value="">Diesel</option>
                    <option value="">Gasoline</option>
                    <option value="">Electric</option>
                </select>
    
                <small>engine-type error message</small>
            </div>
        </div>
        <div class = "second-column">
            <div class="form-group">
                <div class="text-white label-holder d-flex justify-content-center">
                    <label id = "label-text7" for="transmission" class="h4 mb-2">Transmission</label>
                </div>
    
                <select class="browser-default custom-select" id="transmission" name="transmission">
                    <option value="">Select transmission type</option>
                    <option value="">manual</option>
                    <option value="">automatic</option>
                    <option value="">other</option>
                </select>
    
                <small>transmission error message</small>
            </div>

            <div class="form-group">
                <div class="label-holder text-white textCol d-flex justify-content-center">
                    <label id = "label-text8" for="km" class="h4 mb-2">Kilometers</label>
                </div>
                <input type="km" step="1" class="form-control" id="km" name="km"/>
                <small >km error message</small>
            </div>


            <div class="form-group">
                <div class="text-white label-holder d-flex justify-content-center">
                    <label id = "label-text10" for="currency" class="h4 mb-2">Currency</label>
                </div>

                <select class="browser-default custom-select" id="currency" name="currency">
                    <option value="">Select Currency</option>
                    <option value="">manual</option>
                    <option value="">automatic</option>
                    <option value="">other</option>
                </select>

                <small>currency error message</small>
            </div>

            <div class="form-group">
                <div class="label-holder text-white textCol d-flex justify-content-center">
                    <label id = "label-text11" for="price" class="h4 mb-2">Price</label>
                </div>
                <input type="price" step="1" class="form-control" id="price" name="price"/>
                <small >price error message</small>
            </div>
            

            <div class="form-group">
                <div class="label-holder text-white textCol d-flex justify-content-center">
                    <label id = "label-text9"for="description" class="h4 mb-2">Description</label>
                </div>
                <textarea type="text" class="form-control" id="description" name="description" rows="2" cols="62"></textarea>
                <small >description error message</small>
            </div>

            <div id="sbm-btn" class="button-holder d-flex justify-content-center">
                <button id="sbm-btn-btn"type="submit" class="btn btn-warning  mb-3" value="Add-porsche">Add Porsche</button>
                
                <button id = "back-to-home" type="submit" class="btn btn-success  mb-3" value="Back-home">Return home</button>
            </div>
        </div>
        </form>
        
    </div>

    <hr>
    </main>
    <footer>
        <h6 class="footer-text"> All rights reserved™</h6>
    </footer>
</body>
</html>