<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title th:text="#{apply.title}">Make application</title>
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/report-a-bug.css">
</head>
<body>
<header th:replace="fragments/commons::head"></header>
<main>
  <div class="form">

    <form th:object="${applicationSubmitBindingModel}" class="mx-auto w-25 bg-blur rounded" th:method="post" th:action="@{/apply/make-application}">
      <div id="form-group-all" class="form-group">
        <div id="form-report" class="form-group">
          <div class="label-holder text-white textCol d-flex justify-content-center">
            <label id="label-text2" class="h4 mb-2" th:text="#{apply.makeApplication}">Make application</label>
          </div>
          <textarea th:field="*{description}" th:errorclass="bg-danger"  type="text" class="form-control" id="description" name="description" rows="12" cols="80" th:placeholder="#{apply.description.placeholder}"></textarea>
          <small th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="text-danger">application error message</small>
          <br>
          <button id="sbm-btn-btn" type="submit" class="btn btn-warning mb-3" th:text="#{apply.submitApplication}">Submit application</button>
          <br>
          <a id="back-to-home" type="submit" class="btn btn-success mb-3" href="/home" th:text="#{apply.returnToHome}">Return to home</a>
        </div>
      </div>
    </form>

  </div>
</main>
<footer>
  <h6 class="footer-text" th:text="#{apply.allRightsReserved}">All rights reserved™</h6>
</footer>
</body>
</html>
