<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec='http://www.thymeleaf.org/extras/spring-security'>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Audi</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/cars.css">
    <style>
        /* Apply overflow to enable scrolling */
        
    </style>
</head>
<body>
<header th:replace="fragments/commons::head"></header>
    <main>

        <div class="brown-beige-theme">
            <div class = "row-menu">
            <h2>Audi cars </h2>
            <a id = "add-car" type="submit" class="btn btn-success  mb-3" href="/audi/add-audi">Add Audi</a>
            <a id = "back-to-home" type="submit" class="btn btn-success  mb-3" href="/">Return to home</a>
           </div>
            <img class = "logo-img"src="" alt="">
            <div class="split">
              <div class = "your-cars">
                <h3>Your Cars</h3>
                <div class="user-cars">
                  <!-- Example car offers -->
                  <div class="car-card user-car">
                    <p>Model: <label>A8</label></p>
                    <p>Horsepower: <label>680</label></p>
                    <p>Release Date: <label>20/3/2023</label></p>
                    <p>Category: <label>sedan</label></p>
                    <p>Engine Type: <label>gasoline</label></p>
                    <p>Transmission: <label>manual</label></p>
                    <p>Kilometers: <label>10000</label></p>
                     <p>Bought for: <label>10000 Euro</label></p>

                    <p>Description: <label>A high-performance sports car with breathtaking acceleration.</label></p>
                    <img class="car-image" src="https://hips.hearstapps.com/hmg-prod/images/2024-audi-a8-102-64b6b2b1ae524.jpg?crop=0.556xw:0.626xh;0.231xw,0.249xh&resize=768:*" alt="Audi A8">
                    <button id="delete" type="submit" class="btn btn-danger  mb-3">Delete</button>  
                </div>
                  <!-- Add more car cards here -->
                </div>
              </div>
              <div class = "other-cars">
                <h3>Other Users' Cars</h3>
                <div class="other-user-cars">
                  <!-- Example car offers -->
                  <div class="car-card other-user-car">
                    <p>Model: <label>A7</label></p>
                    <p>Horsepower: <label>680</label></p>
                    <p>Release Date: <label>20/3/2023</label></p>
                    <p>Category: <label>sedan</label></p>
                    <p>Engine Type: <label>gasoline</label></p>
                    <p>Transmission: <label>manual</label></p>
                    <p>Kilometers: <label>10000</label></p>
                      <p>Bought for: <label>10000 Euro</label></p>
                      <p>Owner: <label>Tuzar1</label></p>
                    <p>Description: <label>A high-performance sports car with breathtaking acceleration.</label></p>
                    <img class="car-image" src="https://images.cars.com/cldstatic/wp-content/uploads/audi-rs-7-2024-front-three-quarter-oem.jpg?w=828" alt="Audi A7">
                  </div>

                  <div class="car-card other-user-car">
                    <p>Model: <label>Q7</label></p>
                    <p>Horsepower: <label>680</label></p>
                    <p>Release Date: <label>20/3/2023</label></p>
                    <p>Category: <label>sedan</label></p>
                    <p>Engine Type: <label>gasoline</label></p>
                    <p>Transmission: <label>manual</label></p>
                    <p>Kilometers: <label>10000</label></p>
                      <p>Bought for: <label>10000 Euro</label></p>
                      <p>Owner: <label>Tuzar1</label></p>
                    <p>Description: <label>A high-performance sports car with breathtaking acceleration.</label></p>
                    <img class="car-image" src="https://hips.hearstapps.com/hmg-prod/images/2024-audi-q7-102-6495edad98657.jpg?crop=0.583xw:0.436xh;0.333xw,0.439xh&resize=1200:*" alt="Audi Q7">
                  </div>
                  <!-- Add more car cards here -->
                </div>
              </div>
            </div>
          </div>
    </main>
    <footer>
      <h6 class="footer-text"> All rights reserved™</h6>
       </footer>
</body>
</html>