<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec='http://www.thymeleaf.org/extras/spring-security'>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bugs</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/bugs.css">
</head>
<body>
<header th:replace="fragments/commons::head"></header>
<main>
    <div class="brown-beige-theme">
        <div class="row-menu">
            <h2>Reported Bugs</h2>
            <a id="back-to-home" type="submit" class="btn btn-success mb-3" href="/home">Return to home</a>
        </div>
        <img class="logo-img" src="" alt="">
        <div class="split">
            <div id="bugs" class="user-cars">
                <div th:each="bug : ${homeBugsDto.bugsToBeVisualised}" class="car-card user-car">
                    <p>Reported By: <span th:text="${bug.reportedBy}">User123</span></p>
                    <p>Description: <span th:text="${bug.description}">Description goes here</span></p>

                    <form action="" th:method="delete" th:action="@{/bugs/{uuid}(uuid=${bug.id})}">
                        <button id="delete" type="submit" class="btn btn-danger  mb-3">Bug Solved!</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</main>
<footer>
    <h6 class="footer-text">All rights reserved™</h6>
</footer>
</body>
</html>