<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec='http://www.thymeleaf.org/extras/spring-security'>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{bugs.title}">Bugs</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/bugs.css">
</head>
<body>
<header th:replace="fragments/commons::head"></header>
<main>
    <div class="brown-beige-theme">
        <div class="row-menu">
            <h2 th:text="#{bugs.reported}" >Reported Bugs</h2>
            <a th:text="#{bugs.return.home}" id="back-to-home" type="submit" class="btn btn-success mb-3" href="/home">Return to home</a>
        </div>
        <img class="logo-img" src="" alt="">
        <div class="split">
            <div id="bugs" class="user-cars">
                <div th:each="bug : ${homeBugsDto.bugsToBeVisualised}" class="car-card user-car">
                    <p class="one-line" th:text="#{bugs.reported.by}">Reported By: </p>
                    <span class="one-line" th:text="${bug.reportedBy}">User123</span>
                    <br/>
                        <p></p>
                    <div class="bug-description">
                        <p class="bug-label" th:text="#{bugs.description}">Description: </p>
                        <div class="description-text" th:text="${bug.description}">Description goes here</div>
                    </div>
                    <p></p>
                    <form action="" th:method="delete" th:action="@{/bugs/{uuid}(uuid=${bug.id})}">
                        <button id="delete" type="submit" class="btn btn-danger mb-3" th:text="#{bugs.solve}">Bug Solved!</button>
                    </form>
                    <hr/>
                </div>
            </div>
        </div>
    </div>
</main>
<footer>
    <h6 class="footer-text">All rights reserved™</h6>
</footer>

<!-- JavaScript to split text into chunks of 30 characters -->
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var descriptionDivs = document.querySelectorAll('.description-text');
        descriptionDivs.forEach(function(descriptionDiv) {
            var text = descriptionDiv.textContent.trim();
            var chunks = [];
            var chunkSize = 30;
            for (var i = 0; i < text.length; i += chunkSize) {
                chunks.push('<span>' + text.slice(i, i + chunkSize) + '</span>');
            }
            descriptionDiv.innerHTML = chunks.join('');
        });
    });
</script>

</body>
</html>
