<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec='http://www.thymeleaf.org/extras/spring-security'>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tuzar Cars</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/home_logged_in.css">
</head>
<body>
<header th:replace="fragments/commons::head"></header>
<main>
    <div class="mobile-menu">

        <form th:action="@{/users/logout}" method="post" >
            <input id="back-to-home" type="submit" class="btn btn-danger mb-3" th:value="#{home.logged.in.logout}" />
        </form>

        <a id="info1" class="btn btn-info mb-3" href="/about-us" th:text="#{home.logged.in.about.us}">About Us</a>

        <a id="info2" class="btn btn-secondary mb-3" href="/porsche/porsche-cars-home" th:text="#{home.logged.in.view.porsche}">View all Porsche cars</a>

        <a id="info3" class="btn btn-secondary mb-3" href="/mercedes/mercedes-cars-home" th:text="#{home.logged.in.view.mercedes}">View all Mercedes cars</a>

        <a id="info4" class="btn btn-secondary mb-3" href="/audi/audi-cars-home" th:text="#{home.logged.in.view.audi}">View all Audi cars</a>

        <a id="info5" class="btn btn-secondary mb-3" href="/bmw/bmw-cars-home" th:text="#{home.logged.in.view.bmw}">View all BMW cars</a>

        <a sec:authorize="hasRole('admin')" id="info6" class="btn btn-secondary mb-3" href="/bugs/reported-bugs" th:text="#{home.logged.in.view.bugs}">View all the reported bugs</a>
    </div>
    <h4 class="welcome-text" sec:authorize="isAuthenticated()">
        <span th:text="#{home.logged.in.welcome(${#authentication.name})}">Welcome to your Tuzar cars profile John Doe</span>

    </h4>
    <br>

    <form id="change-username-form" th:action="@{/home}" th:object="${changeUsernameBindingModel}" method="post">
        <div class="change-name-div">
            <label th:text="#{home.logged.in.change.username}">Change username:</label>

            <label>
                <input type="text" th:field="*{newUserName}" th:errorclass="bg-danger" class="form-control"/>
            </label>
            <button id="edit-username-btn" type="submit" class="btn btn-warning mb-3" th:text="#{home.logged.in.submit.username}"></button>
            <br>
            <small id="error-text" class="text-danger" th:if="${#fields.hasErrors('newUserName')}" th:errors="*{newUserName}"></small>
        </div>
    </form>

    <br>
    <div id="div1">
        <h2>Porsche</h2>
        <span th:text="#{home.logged.in.porsche.description}">Porsche is a German automobile manufacturer...</span>
        <br>
    </div>
    <div id="div2">
        <h2>Mercedes</h2>
        <span th:text="#{home.logged.in.mercedes.description}">Mercedes-Benz commonly referred to as Mercedes...</span>
        <br>
    </div>
    <div id="div3">
        <h2>Audi</h2>
        <span th:text="#{home.logged.in.audi.description}">Audi is a German automotive manufacturer of luxury vehicles...</span>
        <br>
    </div>
    <div id="div4">
        <h2>BMW</h2>
        <span th:text="#{home.logged.in.bmw.description}">Bayerische Motoren Werke AG, commonly abbreviated to BMW...</span>
        <br>
    </div>
</main>
<footer>
    <h6 class="footer-text"> <span th:text="#{home.logged.in.footer}">All rights reserved™</span></h6>
</footer>

</body>
</html>
