<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercedes</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/cars.css">
    <style>
        /* Apply overflow to enable scrolling */
        
    </style>
</head>
<body>
    <header>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark d-none d-lg-block" style="z-index: 2000;">
          <div class="container-fluid">
            <!-- Navbar brand -->
            <a class="navbar-brand nav-link" target="_blank" href="">
              <strong>Tuzar Cars | </strong>
            </a>
            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarExample01"
              aria-controls="navbarExample01" aria-expanded="false" aria-label="Toggle navigation">
              <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarExample01">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item active">
                  <a class="nav-link" aria-current="page" href="#">Porsche | </a>
                </li>
                 <li class="nav-item active">
                  <a class="nav-link" aria-current="page" href="#">Mercedes | </a>
                </li>
                 <li class="nav-item active">
                  <a class="nav-link" aria-current="page" href="#">Audi | </a>
                </li>
                 <li class="nav-item active">
                  <a class="nav-link" aria-current="page" href="#">BMW</a>
                </li>
              </ul>
      
              <ul class="navbar-nav list-inline">
                <!-- Icons -->
                
                <li class="nav-item active">
                  <a class="nav-link" aria-current="page" href="#">Login | </a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" aria-current="page" href="#">Register | </a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" aria-current="page" href="#">Logout | </a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" aria-current="page" href="#">About Us | </a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" aria-current="page" href="#">Bugs</a>
                </li>
           
              </ul>
            </div>
          </div>
        </nav>
        <!-- Navbar -->
    </header>
    <main>

        <div class="brown-beige-theme">
            <div class = "row-menu">
            <h2>Mercedes cars </h2>
            <button id = "add-car" type="submit" class="btn btn-success  mb-3">Add Mercedes</button>
            <button id = "back-to-home" type="submit" class="btn btn-success  mb-3">Return to home</button>
            
           </div>
            <img class = "logo-img"src="" alt="">
            <div class="split">
              <div class = "your-cars">
                <h3>Your Cars</h3>
                <div class="user-cars">
                  <!-- Example car offers -->
                  <div class="car-card user-car">
                    <p>Model: <label>S350</label></p>
                    
                    <p>Horsepower: <label>348</label></p>
                    <p>Release Date: <label> 12/09/2023</label></p>
                    <p>Category: <label> Luxury limousine </label></p>
                    <p>Engine Type: <label>Diesel</label></p>
                    <p>Transmission: <label>Automatic</label></p>
                    <p>Kilometers: <label>100000</label></p>
                    <p>Description: <label>The car.</label></p>
                    <img class="car-image" src="https://s.list.am/f/664/77669664.webp" alt="Porsche 911 Turbo S">
                    <button  id="delete" type="submit" class="btn btn-danger  mb-3">Delete</button>
                  </div>
                  <!-- Add more car cards here -->
                </div>
              </div>
              <div class = "other-cars">
                <h3>Other Users' Cars</h3>
                <div class="other-user-cars">
                  <!-- Example car offers -->
                  <div class="car-card other-user-car">
                    <p>Model: <label>C 63 AMG</label></p>
                    
                    <p>Horsepower: <label>348</label></p>
                    <p>Release Date: <label> 12/09/2023</label></p>
                    <p>Category: <label> Luxury limousine </label></p>
                    <p>Engine Type: <label>Diesel</label></p>
                    <p>Transmission: <label>Automatic</label></p>
                    <p>Kilometers: <label>100000</label></p>
                    <p>Description: <label>The car.</label></p>
                    <img class="car-image" src="https://www.autocar.co.uk/sites/autocar.co.uk/files/styles/gallery_slide/public/1-mercedes-amg-c-63-s-coupe-2019-rt-hero-front.jpg?itok=K8kI7vVd" alt="Porsche 911 Turbo S">
                  </div>

                  <div class="car-card other-user-car">
                    <p>Model: <label>Maybach</label></p>
                    
                    <p>Horsepower: <label>348</label></p>
                    <p>Release Date: <label> 12/09/2023</label></p>
                    <p>Category: <label> Luxury limousine </label></p>
                    <p>Engine Type: <label>Diesel</label></p>
                    <p>Transmission: <label>Automatic</label></p>
                    <p>Kilometers: <label>100000</label></p>
                    <p>Description: <label>The car.</label></p>
                    <img class="car-image" src="https://i.ytimg.com/vi/K1N-3NkFmkk/sddefault.jpg" alt="Porsche 911 Turbo S">
                  </div>
                  <!-- Add more car cards here -->
                </div>
              </div>
            </div>
          </div>
    </main>
    <footer>
      <h6 class="footer-text"> All rights reserved™</h6>
       </footer>
</body>
</html>